<navbar></navbar>
<sidebar></sidebar>


<div *ngIf="tipoTela == 2" class="container-base">
  <div class="content-page">
    <div class="card-header d-flex justify-content-between">
      <div>
      <div class="card-title">Register Agendamento</div>
      <div (click)="getAgendamento()" class="card-menu">List Agendamento</div>
    </div>
    <div class="align-self-center">
      <input type="text" (input)="searchTableParceiro($event)" placeholder="Pesquisar..." />
    </div>
    </div>

    <form class="form-page" [formGroup]="agendamentoForm" (submit)="enviar()">
      <div class="row">
        <div class="group-row">
          <label>Agendamento</label>
          <!-- <input class="input-form" type="text" name="nomeEmpregada" id="nomeEmpregada" placeholder="Nome da Empregada"
            formControlName="nomeEmpregada" required="">
          <input class="input-form" type="text" name="turnoHora" id="turnoHora" placeholder="Turno e Hora"
            formControlName="turnoHora" required="">
          <input class="input-form" type="text" name="cnpj" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
            (input)="formatarCNPJ($event)" required mask="00.000.000/0000-00">
          <input class="input-form" type="text" name="nomePatraos" id="nomePatraos" placeholder="Nome dos Patrões"
            formControlName="nomePatraos" required=""> -->
            <!-- Campos para exibir as informações do parceiro -->
            <div class="form-group">
              <input class="input-form" type="text" name="nomeEmpregada" id="nomeEmpregada" placeholder="Nome da Empregada"
                formControlName="nomeEmpregada" required />
              <div class="error-message"
                *ngIf="agendamentoForm.get('nomeEmpregada')?.invalid && (agendamentoForm.get('nomeEmpregada')?.dirty || agendamentoForm.get('nomeEmpregada')?.touched)">
                Nome da empregada é obrigatório.
              </div>
            </div>

            <div class="form-group">
              <input class="input-form" type="text" name="turnoHora" id="turnoHora" placeholder="Turno e Hora"
                formControlName="turnoHora" [value]="parceiro?.turno" required />
              <div class="error-message"
                *ngIf="agendamentoForm.get('turnoHora')?.invalid && (agendamentoForm.get('turnoHora')?.dirty || agendamentoForm.get('turnoHora')?.touched)">
                Turno e hora são obrigatórios.
              </div>
            </div>

            <div class="form-group">
              <input class="input-form" type="text" name="cnpj" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
                (input)="formatarCNPJ($event)" [value]="parceiro?.cnpj" required mask="00.000.000/0000-00" />
              <div class="error-message"
                *ngIf="agendamentoForm.get('cnpj')?.invalid && (agendamentoForm.get('cnpj')?.dirty || agendamentoForm.get('cnpj')?.touched)">
                CNPJ é obrigatório.
              </div>
            </div>

            <div class="form-group">
              <input class="input-form" type="text" name="nomePatraos" id="nomePatraos" placeholder="Nome dos Patrões"
                formControlName="nomePatraos" [value]="parceiro?.nameEmpresa" required />
              <div class="error-message"
                *ngIf="agendamentoForm.get('nomePatraos')?.invalid && (agendamentoForm.get('nomePatraos')?.dirty || agendamentoForm.get('nomePatraos')?.touched)">
                Nome dos patrões é obrigatório.
              </div>
            </div>

          <mat-form-field appearance="outline">
            <mat-label>Data Inicial</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dataInicial">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Data Final</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dataFinal">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <div class="form-group">
            <input class="input-form" type="text" name="localizacao" id="localizacao" placeholder="Localização"
              formControlName="localizacao" [value]="parceiro?.localizacao" required />
            <div class="error-message"
              *ngIf="agendamentoForm.get('localizacao')?.invalid && (agendamentoForm.get('localizacao')?.dirty || agendamentoForm.get('localizacao')?.touched)">
              Localização é obrigatória.
            </div>
          </div>

          <div class="form-group">
            <input class="input-form" type="text" name="receita" id="receita" placeholder="Receita"
              formControlName="receita" required />
            <div class="error-message"
              *ngIf="agendamentoForm.get('receita')?.invalid && (agendamentoForm.get('receita')?.dirty || agendamentoForm.get('receita')?.touched)">
              Receita é obrigatória.
            </div>
          </div>

          <div class="form-group">
            <input class="input-form" type="text" name="despesas" id="despesas" placeholder="Despesas"
              formControlName="despesas" required />
            <div class="error-message"
              *ngIf="agendamentoForm.get('despesas')?.invalid && (agendamentoForm.get('despesas')?.dirty || agendamentoForm.get('despesas')?.touched)">
              Despesas são obrigatórias.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="group-row" style="display: flex; margin: 5px;">

          <button style="margin: 5px;" type="button" mat-raised-button color="warn"
            (click)="cancelarEdicao()">Cancelar</button>
          <button style="margin: 5px;" type="submit" value="Salvar" mat-raised-button color="primary">Salvar</button>
        </div>
      </div>

    </form>

  </div>

</div>

<div *ngIf="tipoTela == 1" class="container-base">

  <div class="content-page">

    <div class="header-info-2">
      <div class="card-header d-flex justify-content-between">
        <div>
          <div class="card-title"> List Agendamento</div>
          <div (click)="cadastro()" class="card-menu"> Register Agendamento</div>
        </div>
        <div class="align-self-center">
          <input type="text" (input)="searchTable($event)" placeholder="Pesquisar..." />
        </div>

      </div>

      <div class="table-box table-responsive">
        <table cellSpacing="0" cellPadding="0">
          <thead>
            <tr>
              <td>NOME EMPREGADA</td>
              <td>TURNO E HORA</td>
              <td>CNPJ</td>
              <td>NOME DOS PATRÕES</td>
              <td>DATA INICIAL</td>
              <td>DATA FINAL</td>
              <td>LOCALIZAÇÃO</td>
              <td>RECEITA</td>
              <td>DESPESA</td>
              <td>AÇÕES</td>
            </tr>
          </thead>
          <tbody>
            <tr class="select-item" *ngFor="let item of tableListAgendamento | paginate: config; let i = index"
              class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca': i % 2 !== 0}">
              <td>{{item.nomeEmpregada}}</td>
              <td>{{item.turnoHora}}</td>
              <td>{{item.cnpj}}</td>
              <td>{{item.nomePatraos}}</td>
              <td>{{item.dataInicial | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.dataFinal | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.localizacao}}</td>
              <td>{{item.receita}}</td>
              <td>{{item.despesas}}</td>
              <td>
                <mat-icon (click)="edicao(item.id)" style="margin: 5px;">edit</mat-icon>
                <mat-icon (click)="onDeleteAgendamento(item.id)" style="margin: 5px;">delete</mat-icon>
              </td>
              <!-- <td (click)="edicao(item.id)" >Edit</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tabela-footer" *ngIf="paginacao && tableListAgendamento">
        <label class="mostrar">Mostrar</label>
        <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false" [searchable]="false"
          class="mostrar-drop">
          <ng-option [value]="10">10</ng-option>
          <ng-option [value]="50">50</ng-option>
          <ng-option [value]="100">100</ng-option>
        </ng-select>

        <div class="container-pagination">
          <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true"
            (pageChange)="mudarPage($event)">
          </pagination-controls>
        </div>
      </div>

    </div>

  </div>
</div>
