label{
    FONT-SIZE: 20px;
    font-family: cursive;
    font-weight: bold;
}

.input-form {
    border-radius: 26.5px;
    border: solid #0054c9;
    border-width: 1px 1px 3px;
    font-family: cursive;
    font-size: 20px;
  }

  table{
    text-align: center;
  }

  thead tr td{
    FONT-SIZE: 20px;
    font-family: cursive;
    font-weight: bold;
  }

  tbody tr td{
    FONT-SIZE: 20px;
    font-family: cursive;
  }