<navbar></navbar>
<sidebar></sidebar>

<div *ngIf="tipoTela == 1" class="container-base">

  <div class="content-page">

    <div class="d-flex">
      <div class="card text-center m-5" id="cardCurriculo" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Curriculos Cadastrados</h5>
          <p class="card-text" id="NumeroCard">{{this.totalCurriculo}}</p>
        </div>
      </div>

      <div class="card text-center m-5" id="cardService" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Serviços Efetivados</h5>
          <p class="card-text" id="NumeroCard">70</p>
        </div>
      </div>

    </div>

    <div class="d-flex">
      <div class="card text-center m-5" id="cardCurriculoOnline" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Curriculos Online</h5>
          <p class="card-text" id="NumeroCard">70</p>
        </div>
      </div>

      <div class="card text-center m-5" id="cardFinance" style="width: 50%;">
        <div class="card-body">
          <h5 class="card-title">Financeiro</h5>
          <p class="card-text" id="NumeroCard">70</p>
        </div>
      </div>

    </div>

  </div>

  <div class="calendar-container">
    <div class="header">
      <div class="icon">
        <img src="assets/checklist-icon.png" alt="Agenda">
      </div>
      <h2>Agendamentos</h2>
      <span class="year">2025</span>
    </div>

    <div class="days-grid">
      <div *ngFor="let dia of diasMes" class="day" [ngClass]="{'aberto': dia.status === 'aberto', 'fechado': dia.status === 'fechado'}">
        <span>{{ dia.data }}</span>
        <!-- Exibindo o status -->
        <span *ngIf="dia.status === 'aberto'">Serviço Aberto</span>
        <span *ngIf="dia.status === 'fechado'">Serviço Fechado</span>
      </div>
    </div>
  </div>

</div>



