#cardCurriculo{
  background-color: #b0993d;
  color: azure;
  border-radius: 30px;
}

#NumeroCard{
  font-size: 50px;
  font-family: fantasy;
}

#cardService{
  background-color: #8b52ff;
  color: azure;
  border-radius: 30px;
}
#cardCurriculoOnline{
  background-color: #cd7333;
  color: azure;
  border-radius: 30px;
}
#cardFinance{
  background-color: #3a2e2e;
  color: azure;
  border-radius: 30px;
}
